body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#boards {
  display: flex;
  justify-content: space-evenly;
}

#boards > div {
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 300px;
  margin: 100px;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex: 1;
}

.index-cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  flex: 1;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

body > div:last-child .cell.clickable:hover {
  background-color: rgba(0, 255, 255, 0.4);
}

.marker {
  height: 45%;
  width: 45%;
  border-radius: 100%;
}

.ship {
  background-color: gray;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

#flip {
  border-radius: 10px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
}

#flip button {
  width: fit-content;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 5px;
}

#flip button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

#flip::backdrop {
  backdrop-filter: blur(5px);
}
