body {
  display: flex;
  justify-content: space-evenly;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 300px;
  margin: 100px;
}

.row {
  display: flex;
  flex: 1;
}

.index-cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  flex: 1;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.cell:hover {
  background-color: lightgray;
}

.marker {
  height: 45%;
  width: 45%;
  border-radius: 100%;
}

.ship {
  background-color: gray;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}
