body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#boards {
  display: flex;
  justify-content: space-evenly;
}

#boards > div {
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 300px;
  margin: 100px;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex: 1;
}

.index-cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  flex: 1;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

body > div:last-child .cell.clickable:hover {
  background-color: rgba(0, 255, 255, 0.4);
}

.marker {
  height: 45%;
  width: 45%;
  border-radius: 100%;
}

.ship {
  background-color: gray;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

dialog[open] {
  border-radius: 10px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

dialog button {
  width: fit-content;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 5px;
}

dialog button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

button.selected {
  background-color: rgba(0, 0, 0, 0.15);
}

#setup {
  width: 20%;
  height: 40%;
  flex-direction: row;
  flex-wrap: wrap;
}

#game-choice-buttons {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
}

#players-info.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#play-button {
  margin-top: 20px;
}

#setup label {
  margin-right: 20px;
}

#players-info div.visible {
  display: flex;
  flex-direction: column;
}

#player2-info {
  margin-top: 2rem;
}

.hide {
  display: none;
}
